@helper RenderList(List<string> items)
{
    <h1>My Items</h1>
    <ul>
        @foreach(var item in items)
        {
            <li>@item</li>
        }
    </ul>
}

@helper TwoDigitDate(DateTime dt)
{ 
    @dt.ToString("MM/dd/yy")    
}

@helper FormatCurrency(decimal amt)
{ 
    @amt.ToString("C")
}